.place__url-text {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    text-transform: uppercase;    
}

@media screen and (max-width: 767px) {
    .place__url-text {
        margin-left: 16px;
    }
}